# Entorno virtual
venv/

# Archivos de base de datos
db.sqlite3
data.json

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos temporales o de entorno
.env
*.log

# Backup render
backup_render.sql
backup_django.json
*.sql